- content_for :stylesheets do
  = stylesheet_link_tag    'test/module', media: 'all'

- content_for :javascripts do
  = javascript_include_tag 'test/module', defer: true

.ki-padding-all
  %div{ "ng-controller": "TestController as ctrl" }
    = render partial: 'experiment_tabs'

    .tab-content.p-2
      = render partial: 'hello_pane'
      = render partial: 'event_pane'
      = render partial: 'pollution_pane'
      = render partial: 'select_pane'
      = render partial: 'toggle_pane'
      = render partial: 'datetime_pane'
      = render partial: 'button_pane'

.ki-section.fixed-bottom.p-2
  %a{ href: "/" }
    Home
