- base_url = "https://www.ikari.fi/learnopengl"

.pl-4
  %h1
    Learn OpenGL

  .h3.mb-1
    Cubes 1 - The beginning

  .pl-1.mb-2
    -#%video.p-1.m-1.border.border-primary{ width: 320, height: 240, controls: true }
      %source{ src: "#{base_url}/kuutiot.mp4", type: "video/mp4" }
      Your browser does not support the video tag.
    %iframe{ width: "560", height: "315", src: "https://www.youtube.com/embed/cCHmBwMWKd8",
      frameborder: "0",
      allow: "accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture", allowfullscreen: true }

  .h3.mb-0
    Cubes 2 - Textures

  .pl-1.pb-1
    -#%video.p-1.m-1.border.border-primary{ width: 320, height: 240, controls: true }
      %source{ src: "#{base_url}/kuutiot2.mp4", type: "video/mp4" }
      Your browser does not support the video tag.
    %iframe{ width: "560", height: "315", src: "https://www.youtube.com/embed/Lx-6_nFjI_M",
      frameborder: "0",
      allow: "accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture", allowfullscreen: true }

  .h3.mb-0
    Cubes 3 - Skybox

  .pl-1.mb-1
    %a{ href: "#{base_url}/windows_skycube.jpg" }
      %img.p-1.m-1.border.border-primary{ src: "#{base_url}/windows_skycube.jpg", width: 560, height: 315, controls: true }

  .h3.mb-0
    Cubes 4 - Shadows of the planet

  .pl-1.mb-1
    -#%video.p-1.m-1.border.border-primary{ width: 320, height: 240, controls: true }
      %source{ src: "#{base_url}/blended_shadows_02.mp4", type: "video/mp4" }
      Your browser does not support the video tag.
    %iframe{ width: "560", height: "315", src: "https://www.youtube.com/embed/kgPegBJRm18",
      frameborder: "0",
      allow: "accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture", allowfullscreen: true }

  .h3.mb-0
    Cubes 5 - Mirrors please

  .pl-1.mb-1
    %iframe{ width: "560", height: "315", src: "https://www.youtube.com/embed/vPRtmfa0j5c",
      frameborder: "0",
      allow: "accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture", allowfullscreen: true }

.p-4
.fixed-bottom.border-top.bg-white
  .float-right
    .m-2.mr-3
      %a{ href: 'https://github.com/kikonen/learnopengl' }
        = image_tag('GitHub-Mark-32px.png', width: 16, height: !6)
        learnopengl
