<!DOCTYPE html>
<html>
<head>
  <title>Host</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= stylesheet_link_tag    "themes/#{@theme_id}/module", media: 'all' %>
  <%= stylesheet_link_tag    'ng/module', media: 'all' %>
  <%= yield :stylesheets %>

  <%= include_js_env %>
  <%= javascript_include_tag 'application' %>
  <%= javascript_include_tag 'ng/module' %>
  <%= yield :javascripts %>

  <%= csrf_meta_tags %>
  <% if @base_href %>
    <base href="<%= @base_href %>">
  <% end %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= yield :head %>
</head>

<% if @ng_app %>
  <body data-giapp <%= 'ng-strict-di' if @ng_strict_di %>>
<% else %>
<body>
<% end %>

<%= render partial: 'nav/main' %>

<%= yield %>

<% if Rails.env.production? %>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
  <% if @user_id %>
    ga('set', '&uid', <%= @user_id %>);
  <% end %>
  ga('create', 'UA-61678279-1', 'auto');
  ga('send', 'pageview');
</script>
<% end %>

<%= ng_template_include 'ng' %>
</body>
</html>
